body
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: black;
}

nav
{
border: solid;
width: 100%;
height: 150px;
margin: 0 auto;
background: white;
outline: 1px solid rgba(0,0,0,0,2);
}

header nav .menu 
{
width: 50%;
height: 100%;
padding: 1%;
margin-right: 0px;
float: right;
}
.menu a
{
display: block;
float: right;
padding: 2%;
padding-top: 70px;
font-family: 'Times New Roman', Times, serif;
}
a
{
text-decoration: none;
color: black;
font-style: oblique;
}

.top2
{
width: 100%;
height: auto;
background-color: black;
margin: 0 auto;
display: block;
float: left;
}


section.top
{
width: 100%;
height: 150%;
background:black;
margin: 0 auto;
display: block;
max-width: 100%;
max-height: 150%;
}

section.top article
{
height:500px;
background: rgb(252, 248, 248);
float: left;
border-radius:5px;
overflow: hidden;
transition: 2s ease;
margin-left: 2%;
}

section.top article:hover
{
background: rgb(120, 121, 121);
box-shadow: 0 1px 5px rgba(0,0,0,0,2);
transition:2s ease;
}

section.bottom
{
width: 100%;
height: 100%;
background: grey;
}

article
{
width: 30%;
height: 20%;
margin-top: 100px;
border: solid 1px;
float: left;
background: white;
}
h1
{
color: white;
font-size: 90;
float: left;
font-family: 'Times New Roman', Times, serif;
margin-left: 5%;
}

.text
{
color: red;
font-style: oblique;
text-align: center;
font-family: 'Times New Roman', Times, serif;
}

article img
{
width: 100%;
height: 60%;
float: left;
}

.item1
{
width: 50%;
height: 80%;
float: left;
}

.col-xs-sm-md-lg-4
{
width: 30%;
margin: 10px;
float: left;
}

.img
{
width: 90%;
height: 70%;
display: block;
margin: auto;
padding: 1%;
margin: 0% 25% 0% 25%;
overflow: hidden;
transition: 2s;
}

.img:hover
{
transition: 2s;transform: scale(1.1);
}

#pic1
{
background-size: 100% auto;
background: url('medias/printemps.png') center center;
}


#pic2
{
background-size: 100% auto;
background: url('medias/ete.png') center center;
}


#pic3
{
background-size: 100% auto;
background: url('medias/automne.png') center center;
}

#pic4
{
background-size: 100% auto;
background: url('medias/hiver.png') center center;
}

@media screen and (max-width: 769px)
{
.col-4 {width:94%}
}
p
{
text-align: center;
font-style: oblique;
}

.post
{
background: red;
}


.images
{
margin: auto;
height: 30%;
width: 100%;
}

.bandeau
{
width: 100%;
height: 90%;
float: left;
}

footer 
{
width: 100%;
height: 15%;
background-color: white;
display: block;
float: left;
}

.foot
{
padding-top: 5%;
font-weight: bold;
font-family: 'Times New Roman', Times, serif;
}
.text-position
{
width: 100%;
}

.long-article
{
width: 50%;
height: 100%;
background-color: white;
}

ol
{
position: relative;
}

section
{
position: relative;
}

#titre
{
padding-top: 7%;
margin-left: 20%;
float: left;
color: #fffefa;
font-family: 'Times New Roman', Times, serif;
}

.bande
{
width: 100%;
height: 50%;
background: url('../medias/bande.png') center center;
}